#triangle-result-area{
    display: none;
}
#reactangle-result-area{
    display: none;
}
#parallelogram-result-area{
    display: none;
}
#rhombus-result-are{
    display: none;
}
#pentagon-result-area{
    display: none;
}
#ellipse-result-area{
    display: none;
}

